<div class="container-box">
  <div class="header-partners">
    <img src="./assets/svg/partner.svg"/>
    <span class="partners-header"><strong>{{'Partner & clienti' | uppercase}}</strong></span>
  </div>

  <div class="partners-body">
    <ng-container
      *ngTemplateOutlet="feedback context: {
      $implicit: {content: 'Esistono impresari che non esistono', author: 'Pippo'}}">
    </ng-container>
    <ng-container
      *ngTemplateOutlet="feedback context: {
      $implicit: {content: 'Meglio dei rumeni sottopagati', author: 'Paperino'}}">
    </ng-container>
    <ng-container
      *ngTemplateOutlet="feedback context: {
      $implicit: {content: 'Sono sempre stati i migliori. Mai visto nulla di simile', author: 'Minnie'}}">
    </ng-container>
    <ng-container
      *ngTemplateOutlet="feedback context: {
      $implicit: {content: 'Ma che ve lo dico a fare? top number 1', author: 'Pluto'}}">
    </ng-container>
    <ng-container
      *ngTemplateOutlet="feedback context: {
      $implicit: {content: 'Ma che ve lo dico a fare? top number 1', author: 'Pluto'}}">
    </ng-container>
    <ng-container
      *ngTemplateOutlet="feedback context: {
      $implicit: {content: 'Ma che ve lo dico a fare? top number 1', author: 'Pluto'}}">
    </ng-container>
    <ng-container
      *ngTemplateOutlet="feedback context: {
      $implicit: {content: 'Ma che ve lo dico a fare? top number 1', author: 'Pluto'}}">
    </ng-container>
  </div>
</div>

<ng-template #feedback let-field>
  <div class="partners-card">
    <img src="./assets/svg/vans.svg"/>
    <span class="feedback-author">{{field.author}}</span>
  </div>
</ng-template>
