.header-component {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 4rem;
}

.icon-svg {
  cursor: pointer;
  display: flex;
  align-items: center;

  ::ng-deep svg {
    width: 4rem;
    height: 4rem;
    margin: 1rem;

    path {
      fill: #2a287c;
    }
  }
}

.header-home {
  display: flex;
  gap: 30px;
  align-items: center;
}

.translate-section {
  display: flex;
  align-items: center;
  color: #2a287c;

  &-icon {
    width: 40px;
  }

  &-select {
    width: 64px;
    display: flex;
  }
}

.svg-flag-select {
  display: flex;
}

::ng-deep .mat-pseudo-checkbox {
  display: none !important;
}

.header-pages-menu {
  display: none;
}

.header-pages {
  display: block;
}

span:not(:last-child) {
  margin-right: 4rem;
}

span {
  cursor: pointer;
  color: #2a287c;
}

.header-pages {
  display: flex;
  align-items: center;
}

@media (max-width: 992px) {
  .header-component {
    padding: 0 2rem;
  }
}

@media (max-width: 768px) {
  .header-component {
    padding: 0;
  }
}

@media (max-width: 576px) {
  .icon-svg {
    ::ng-deep svg {
      width: 3rem;
      height: 3rem;
      margin: 0;
    }
  }

  .mat-mdc-button > .mat-icon {
    margin-right: 0;
    font-size: 20px;
  }

  .header-pages-menu {
    display: flex;
    align-items: center;

    button {
      color: #2a287c;
    }
  }

  span {
    margin: 0.7rem 2rem !important;
    font-size: 1rem;
  }

  .header-pages {
    display: none;
  }

  .material-icons {
    font-weight: bold;
  }

  .icon-menu {
    transform: scale(1.5);
  }
  .mat-focus-indicator.mat-menu-trigger.mat-button.mat-button-base {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 3px;
    min-width: 30px;
  }
  ::ng-deep .text-menu {
    font-family: "DinPro", sans-serif !important;

    .mat-mdc-menu-item-text {
      color: #2a287c;
    }
  }

  ::ng-deep .mat-menu-content {
    display: flex;
    flex-direction: column;
    background: white;
  }

  mat-menu {
    display: flex;
    flex-direction: column;
  }
}

.menu-button {
  background: white;
}
