<div class="footer-box">
  <div class="list-contacts">
    <div class="sections">
      <span>I nostri lavori</span>
      <span>contatti</span>
    </div>
    <div class="socials">
      <img src="assets/svg/instagram.svg">
      <img src="assets/svg/instagram.svg">
      <img src="assets/svg/instagram.svg">
      <img src="assets/svg/instagram.svg">
    </div>
    <div class="contacts">
      <div class="info">
        <div class="element">
          <span><strong>Indirizzo</strong></span>
          <span>via tal dei tali 1</span>
        </div>
        <div class="element">
          <span><strong>Telefono</strong></span>
          <span>+39 1234567789</span>
        </div>
      </div>
      <div class="fiscals">
        <div class="element">
          <span><strong>Partita IVA</strong></span>
          <span>1234567890</span>
        </div>
        <div class="element">
          <span><strong>Codice Fiscale</strong></span>
          <span>1234567890</span>
        </div>
      </div>
    </div>
  </div>

  <span class="copyright">
    2022 MC-Service s.r.l. All rights reserved
  </span>
</div>
