.footer-box {
  display: flex;
  color: white;
  padding: 0 15%;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.list-contacts {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row
}

.sections {
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  span {
    font-size: 1.1rem;
    line-height: 2em;
  }
}

.nav-text {
  cursor: pointer;
}

.certificate {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  .image-wrapper {
    background: white;


  }

  img {
    &.cqop {
      max-width: 20rem;
    }
    &.iso {
      max-width: 8rem;
    }
  }

  img:not(:last-child) {
    margin-right: 1.2rem;
  }
}

.contacts {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  line-height: 1.4em;
  margin: 1.5rem 0

}

.info {
  display: flex;
  flex-direction: column;

  div:not(:last-child) {
    margin-bottom: 2rem;
  }

  margin-right: 4rem;
}

.fiscals {
  display: flex;
  flex-direction: column;

  div:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.element {
  display: flex;
  flex-direction: column;
}

.copyright {
  margin: 2rem 0;
}

.site-elements {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

@media (max-width: 1500px) {
  .certificate {
    img {
      &.cqop {
        max-width: 17rem;
      }

      &.iso {
        max-width: 6rem;
      }
    }
  }
}

@media (max-width: 1400px) {
  .footer-box {
    padding: 0 10%;
  }
  .certificate {
    img {
      &.cqop {
        max-width: 15rem;
      }

      &.iso {
        max-width: 6rem;
      }
    }
  }
}

@media (max-width: 1280px) {
  .footer-box {
    padding: 0 8%;
  }

  .certificate {
    img {
      &.cqop {
        max-width: 15rem;
      }

      &.iso {
        max-width: 5rem;
      }
    }
  }
}

@media (max-width: 1050px) {
  .footer-box {
    padding: 0 5%;
  }

  .info {
    margin-right: 2rem;
    width: 50%;
  }
}

@media (max-width: 992px) {
  .footer-box {
    padding: 0 4%;
  }

  .certificate {
    img {
      max-width: 17rem;
    }
  }
}

@media (max-width: 950px) {
  .list-contacts {
    flex-direction: column;
  }

  .site-elements {
    width: 100%;
  }

  .certificate {
    flex: 0;
  }
}

@media (max-width: 768px) {
  .site-elements {
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .certificate {
    img {
      &.cqop {
        max-width: 17rem;
      }

      &.iso {
        max-width: 6rem;
      }
    }
  }
}

@media (max-width: 576px) {
  .site-elements {
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .sections {
    margin: 2rem 0;
    align-items: center;
  }

  .info {
    margin-right: 2rem;
    width: 60%;
  }

}
