<div class="footer-box">
  <div class="list-contacts">
    <div class="site-elements">
      <div class="sections">
        <span class="nav-text" (click)="goToWorksPage()">I nostri lavori</span>
        <span class="nav-text" (click)="goToContactsPage()">Contatti</span>
      </div>
      <div class="certificate">
        <div class="image-wrapper">
          <img src="./assets/img/logo-cqop.png"/>
        </div>
      </div>
    </div>
    <div class="contacts">
      <div class="info">
        <div class="element">
          <span>Via Privata 6</span>
          <span>24060 - <strong>Berzo San Fermo</strong> (BG)</span>
        </div>
        <div class="element">
          <span><strong>Partita IVA</strong></span>
          <span>01927120160</span>
        </div>
      </div>
      <div class="fiscals">
        <div class="element">
          <span><strong>Telefono</strong></span>
          <span>335 7032630</span>
        </div>
        <div class="element">

        </div>
      </div>
    </div>
  </div>

  <span class="copyright">
    © 2023 C.M. Service. Tutti i diritti riservati
  </span>
</div>
