@import "~swiper/scss";
@import "~swiper/scss/pagination";
@import "~swiper/scss/navigation";

.img-container-box {
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    max-height: 45rem;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    object-fit: cover;
    max-width: 90%;
    max-height: 90%;
    width: auto;
    height: auto;
  }

  .swiper {
    margin-left: auto;
    margin-right: auto;
  }
}


.img-container-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50rem;
  margin: 0 5rem;
}

