<div class="container-carousel">
  <swiper
    [grabCursor]="true"
    [centeredSlides]="true"
    [slidesPerView]="'auto'"
    [spaceBetween]="40"
    [autoplay]="{
      delay: 3000,
      disableOnInteraction: false
    }"
    [loop]="true"

    class="mySwiper"
  >
    <ng-template swiperSlide [class]="'vertical-img'"
    ><img class="vertical-img" src="./assets/img/principal-home/1.jpg"/></ng-template
    >
    <ng-template swiperSlide [class]="'vertical-img'"
    ><img src="./assets/img/principal-home/2.jpg"/></ng-template
    >
    <ng-template swiperSlide
    ><img src="./assets/img/principal-home/6.jpg"/></ng-template
    >
    <ng-template swiperSlide
    ><img src="./assets/img/principal-home/5.jpg"/></ng-template
    >
    <ng-template swiperSlide
    ><img src="./assets/img/principal-home/7.jpg"/></ng-template
    >
    <ng-template swiperSlide [class]="'vertical-img-m'"
    ><img src="./assets/img/principal-home/3.jpeg"/></ng-template
    >
    <ng-template swiperSlide [class]="'vertical-img-m'"
    ><img src="./assets/img/principal-home/4.JPG"/></ng-template
    >
    <ng-template swiperSlide [class]="'vertical-img-m'"
    ><img src="./assets/img/principal-home/8.jpg"/></ng-template
    >
  </swiper>
</div>

