@import "swiper/scss";
@import "swiper/scss/effect-coverflow";
@import "swiper/scss/pagination";
@import "swiper/scss/autoplay";
@import "swiper/scss/navigation";
.container-carousel {
  padding: 6rem;
  border-radius: 1rem;
  margin: 2rem 0;
  .swiper {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    min-width: 300px;
    max-width: 550px;
    //height: 300px;
    align-self: center;
    display: flex;
    justify-content: center;
    &.vertical-img {
      max-width: 300px;
    }
    &.vertical-img-m {
      max-width: 400px;
    }
  }

  .swiper-slide img {
    display: block;
    width: auto;
    max-height: 550px;
    max-width: 550px;
    height: auto;
    object-fit: cover;
    align-self: center;
  }

  .box-carousel {
    width: 100%;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 0 20px #999999;
  }

  .carousel-header {
    font-size: 2rem;
    color: #2F3061;
  }
}

@media (max-width: 1280px) {
  .container-carousel {
    padding: 5rem 4rem;
  }
}

@media (max-width: 992px) {
  .container-carousel {
    padding: 3rem 0;
  }
}
