.title-contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.5rem;
  color: #2a287c;
  margin: 8rem;
}

.contacts {
  display:flex;
}

app-contacts-list {
  width: 50%;
}

app-map {
  width: 50%;
}
