.image {
  position: absolute;
  z-index: -1;
  left: 0;
  object-fit:cover;
  width:100%;
  height: 40rem;
  opacity: 0.35;
  object-position: 50% 50%;
  filter: brightness(70%);
  background-color: white;
}

.header-page {
  margin: 0 0 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  span {
    max-width: 65%;
    font-size: 1.4rem;
    white-space: normal;
    text-align: center;
    line-height: 3rem;
    margin-bottom: 4rem;
    padding: 0 5rem;
    color: #2a287c;
  }
}

.homepage {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
}

app-box-fields {
  //margin-bottom: 8rem;
}

app-box-carousel {
  //margin-bottom: 8rem;
}

.icon-homepage {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.5rem;
  color: white;
  margin: 4rem 4rem 0 4rem;
  ::ng-deep svg {
    height: 10rem;

    path {
      fill: #2a287c;
    }
  }
}

.icon-svg {
  cursor: pointer;
  display: flex;
  align-items: center;

}

@media (max-width: 1280px) {
  .icon-homepage {
    ::ng-deep svg {
      height: 10rem;
      width: 33rem;
    }
  }
}

@media (max-width: 992px) {
  .header-page {
    margin: 0 0 2rem;
  }
}


