.footer {
  bottom:0;
  //width:100%;
  /*height: 5rem;*/
  background: #24305E;
  z-index: 3;
}

.wrapper-component {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  //background-color: #dcecf8;
}

.router-wrapper {
  flex-grow: 1;
  padding: 0 6%;
  z-index: 1;
}

mat-toolbar {
  position: absolute;
  //position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0;
  background: transparent;
  color: #fff;
  z-index: 3;
}

app-header {
  width: 100%;
}
