<div class="contacts-container">
  <div class="same-context">
    <div class="contact">
    <span class="title"><strong>
      Sede Amministrativa
    </strong>
    </span>
      <span class="content">
      via Privata, 6
    </span>
      <span class="content">
      24060 Berzo San Fermo (BG)
    </span>
    </div>
    <div class="contact">
    <span class="title"><strong>
      Sede Operativa
    </strong>
    </span>
      <span class="content">
      via Nazionale, 2
    </span>
      <span class="content">
      24060 Borgo di Terzo (BG)
    </span>
    </div>
  </div>
  <div class="same-context">
    <div class="contact">
    <span class="title"><strong>
      Telefono
    </strong>
    </span>
      <span class="content">
      035 822223
    </span>
    </div>
    <div class="contact">
    <span class="title"><strong>
      Cellulare
    </strong>
    </span>
      <span class="content">
      +39 3357032630
    </span>
    </div>
  </div>
  <div class="same-context">
    <div class="contact">
    <span class="title"><strong>
      Email
    </strong>
    </span>
      <span class="content">
      info@cmservice.biz
    </span>
    </div>
  </div>
</div>
