.contacts-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  height: 100%;
}

.contact {
  display: flex;
  flex-direction: column;
  .title {
    font-size: 1.4rem;
    line-height: 2em;
    color: #2a287c;
  }
  .content {
    font-size: 1.1rem;
    line-height: 1.5em;
  }
  width: 50%;
  margin-bottom: 2rem;
}

.same-context {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
