.home-card {
  background-color: white;
  display: flex;
  flex-direction: row;
  min-height: 35rem;
  margin-bottom: 5rem;
}

.society-summary {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  margin-bottom: 2rem;
  text-align: justify;
  span {
    font-size: 1.2rem;
    line-height: 1.7rem;
    margin-bottom: 1rem;
  }
  .motto {
    font-size: 1.2rem;
    line-height: 1.7rem;
    margin-bottom: 1rem;
    color: #2a287c;
    padding: 1rem 3rem;
  }

}

button {
  width: 300px;
}

.description {
  flex-grow: 1;
  max-width: 50%;
  display: flex
}

.text-description {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
}

.header-description {
  display: flex;
  align-items: center;
  img {
    width: 4rem;
    margin-right: 2rem;
  }
}

button {
  img {
    width: 4rem;
    margin-right: 1.5rem;
  }
  .button-contact {
    margin: 1rem;
    display: flex;
    align-items: center;
    span {
      font-size: 1.2rem;
    }
  }
}

.society-text {
  font-size: 1.5rem;
  color: #24305E;
}

.fields {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

.large {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.medium {
  flex-grow: 1;
  display: none;
  flex-direction: column;
}

.small {
  flex-grow: 1;
  display: none;
  flex-direction: column;
}

.field {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  span {
    font-size: 1.2rem;
    color: #242e5b;
    z-index: 2;
    &.location {
      font-size: 0.8rem;
    }
  }

  &.st {
    background-color: #F8E9A1;
    background-image: url("./../../../../assets/img/progetti-home/hangar-manzoni.png");
    background-size: cover;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    span {
      text-align: center;
      line-height: 2rem;
    }
  }

  &.nd {
    background-color: #F8E9A1;
    background-image: url("./../../../../assets/img/progetti-home/capannone-trezzano.png");
    background-size: cover;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    span {
      text-align: center;
      line-height: 2rem;
    }
  }

  &.th3,{
    background-color: #F76C6C;
    background-image: url("./../../../../assets/img/progetti-home/berling.png");
    background-size: cover;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    span {
      color: white;
      text-align: center;
      line-height: 2rem;
    }
  }

  &.th5,{
    background-color: #F76C6C;
    background-image: url("./../../../../assets/img/progetti-home/berling-nuovo.png");
    background-size: cover;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    span {
      color: white;
      text-align: center;
      line-height: 2rem;
    }
  }

  &.th6,{
    background-color: #A8D0E6;
    background-image: url("./../../../../assets/img/progetti-home/pharma.png");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    span {
      text-align: center;
      line-height: 2rem;
    }
  }

  &.th7 {
    background-color: #A8D0E6;
    background-image: url("./../../../../assets/img/progetti-home/riqualificazione-energetica.png");
    background-size: cover;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    span {
      text-align: center;
      line-height: 2rem;
    }
  }

  &.th4 {
    background-color: #374785;
    display: flex;
    flex-direction: column;
    img {
      width: 7rem;
      margin-bottom: 2rem;
    }
    span {
      color: white;
      text-align: center;
      padding: 1rem;
    }
  }
}

.field:hover {
  opacity: 1;
  filter: brightness(93%);
  transform: scale(1.1);
  transition: all .3s;
}

.field:not(:hover) {
  opacity: 1;
}

.container-scale {
  width: 30%;
  max-width: 30%;
  height: 20rem;
  overflow: hidden;
  border-radius: 10px;
  &.other-projects {
    width: 18%;
    height: unset;
    margin-bottom: 3rem;
    margin-left: 3rem;
  }
}

.col {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

@media (max-width: 1280px) {
  .row {
    padding: 0;
  }

  .container-scale {
    height: 17rem;
  }
}

@media (max-width: 1050px) {
  .container-scale {
    height: 14rem;
  }
}

@media (max-width: 992px) {
  .row {
    justify-content: space-between;
  }
  .container-scale {
    width: 30%;
    max-width: 30%;
  }

  .fields {
    flex-direction: column;
    align-items: center;
  }

  .col {
    width: 100%;
  }
  .container-scale {
    &.other-projects {
      width: 100%;
      height: unset;
      margin-bottom: unset;
      margin-left: unset;
      max-width: 100%;
    }
  }
  .field.th4 img {
    margin-bottom: unset;
    margin-top: 1rem;
  }
}

@media (max-width: 768px) {
  .large {
    display: none;
  }

  .small {
    display: none;
  }

  .medium {
    display: flex;
  }

  .container-scale {
    width: 47%;
    max-width: 47%;
  }

  .row {
    justify-content: space-between;
  }
}

@media (max-width: 576px) {
  .large {
    display: none;
  }

  .small {
    display: flex;
  }

  .medium {
    display: none;
  }

  .fields {
    align-items: center;
  }

  .container-scale {
    width: 100%;
    max-width: 25rem;
    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }
}
