<div class="box-carousel-mobile">
  <swiper
    [slidesPerView]="1"
    [spaceBetween]="10"
    [initialSlide]="0"
    [loop]="true"
    [autoplay]="{
      delay: 3000,
      disableOnInteraction: false
    }"
    class="mySwiper"
  >
    <ng-template swiperSlide
    ><img src="./assets/img/principal-home/1.jpg"/></ng-template
    >
    <ng-template swiperSlide
    ><img src="./assets/img/principal-home/2.jpg"/></ng-template
    >
    <ng-template swiperSlide
    ><img src="./assets/img/principal-home/6.jpg"/></ng-template
    >
    <ng-template swiperSlide
    ><img src="./assets/img/principal-home/5.jpg"/></ng-template
    >
    <ng-template swiperSlide
    ><img src="./assets/img/principal-home/7.jpg"/></ng-template
    >
    <ng-template swiperSlide
    ><img src="./assets/img/principal-home/3.jpeg"/></ng-template
    >
    <ng-template swiperSlide
    ><img src="./assets/img/principal-home/4.JPG"/></ng-template
    >
    <ng-template swiperSlide
    ><img src="./assets/img/principal-home/8.jpg"/></ng-template
    >
  </swiper>
</div>


