.box-carousel {
  width: 100%;
  min-height: 60rem;
  background-color: white;
  display: flex;
  flex-direction: column;

  ::ng-deep .swiper-button-next {
    background-color: #e7e6e6;
    padding: 1rem;
    width: 30px;
    height: 30px;
  }

  ::ng-deep .swiper-button-prev {
    background-color: #e7e6e6;
    padding: 1rem;
    width: 30px;
    height: 30px;
  }

  ::ng-deep .swiper-button-prev:after {
    font-size: 25px;
  }

  ::ng-deep .swiper-button-next:after {
    font-size: 25px;
  }

  ::ng-deep.swiper-button-prev {
    color: #374785 !important;
  }

  ::ng-deep.swiper-button-next {
    color: #374785 !important;
  }

  ::ng-deep.swiper-pagination-bullet-active {
    background: #374785 !important;
  }
}

.carousel-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 2.5rem;
}

.carousel-field {
  display: flex;
  width: 17%;
  min-width: 13rem;
  height: 3rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 18px;
  //box-shadow: 0 0 3px #999999;
  border: 2px solid #999999;

  &.active {
    background-color: #374785;
    color: white;
  }
}

.empty-index {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;

  img {
    width: 15rem;
    margin-right: 5rem;
  }

  span {
    font-size: 20px;
    color: #24305E;
  }
}

.box-index-selected {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.subField-elements {
  display: flex;
  flex-direction: row;
  padding: 3rem 7rem 0;
  //margin-top: 2rem;
  align-items: center;
}

.subfield-text {
  font-size: 1.2rem;
  color: #242e5b;
  width: 60%;
  text-align: start;
  padding-bottom: 0;
}

.subfield-button-text {
  white-space: normal;
  text-align: center;
}

.subField {
  display: flex;
  width: 15rem;
  flex-wrap: wrap;
  border: 1px solid #cccccc;
  margin-right: 2.5rem;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  cursor: pointer;
  margin-bottom: 2rem;

  &.active {
    background-color: #374785;
    color: white;
  }
}

.subfields-buttons {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border-radius: 10px;
  font-size: 1.1rem;
  mat-form-field {
    width: 100%;
  }
}

.subField-separator {
  margin: 0 0 1rem 0;
  width: 2px;
  background-color: #CCCCCC;
}

app-img-container {
  min-width: 0;
  margin: 4rem 0 4rem 0;
}

.fields {
  display: flex;
  flex-direction: column;
}

.large {
  display: flex;
  flex-direction: column;
}

.medium {
  display: none;
  flex-direction: column;
}

.small {
  display: none;
  flex-direction: column;
}

.field {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  span {
    font-size: 1.2rem;
    color: #242e5b;
    z-index: 2;

    &.location {
      font-size: 0.8rem;
    }
  }

  &.st {
    background-color: #ffffff;

    &.active {
      background-color: #82bce0;
    }

    background-image: url("./../../../../assets/img/progetti-home/hangar-manzoni.png");
    background-size: cover;
    background-position: bottom;
    flex-direction: column;

    span {
      text-align: center;
      line-height: 2rem;
    }
  }

  &.nd {
    background-color: #ffffff;

    &.active {
      background-color: #fce070;
    }

    background-image: url("./../../../../assets/img/progetti-home/capannone-trezzano.png");
    background-size: cover;
    background-position: bottom;
    display: flex;
    flex-direction: column;

    span {
      text-align: center;
      line-height: 2rem;
    }
  }

  &.th3 {
    background-color: #ffffff;

    &.active {
      background-color: #F76C6C;

      span {
        color: white;
      }
    }

    background-image: url("./../../../../assets/img/progetti-home/berling.png");
    background-size: cover;
    background-position: bottom;
    display: flex;
    flex-direction: column;

    span {
      color: #242e5b;
      text-align: center;
      line-height: 2rem;
    }
  }

  &.th5, {
    background-color: #ffffff;

    &.active {
      background-color: #F76C6C;

      span {
        color: white;
      }
    }

    background-image: url("./../../../../assets/img/progetti-home/berling-nuovo.png");
    background-size: cover;
    background-position: bottom;
    display: flex;
    flex-direction: column;

    span {
      color: #242e5b;
      text-align: center;
      line-height: 2rem;
    }
  }

  &.th6, {
    background-color: #ffffff;

    &.active {
      background-color: #82bce0;
    }

    background-image: url("./../../../../assets/img/progetti-home/pharma.png");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;

    span {
      text-align: center;
      line-height: 2rem;
    }
  }

  &.th4 {
    background-color: #e8e8e8;

    &.active {
      background-color: #374785;

      span {
        color: white;
      }

      img {
        opacity: 100%;
      }
    }

    display: flex;
    flex-direction: column;

    img {
      width: 7rem;
      margin-bottom: 2rem;
      opacity: 50%;
    }

    span {
      color: #242e5b;
    }
  }
}

.field:hover {
  opacity: 1;
  filter: brightness(93%);
  transform: scale(1.1);
  transition: all .3s;
}

.field:not(:hover) {
  opacity: 1;
}

.container-scale {
  width: 28%;
  height: 11rem;
  overflow: hidden;
  border-radius: 10px;
}

.row {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 3rem;
  padding: 0 3%;
}

@media (max-width: 1280px) {
  .row {
    padding: 0;
  }

  .subField {
    width: 14rem;
  }

  app-img-container {
    margin: 2rem 0 4rem 0;
  }

  .subField-elements {
    padding: 3rem 3rem 0;
  }
}

@media (max-width: 992px) {
  .row {
    justify-content: space-between;
  }

  .container-scale {
    width: 30%;
  }

  .subField {
    width: 12rem;
  }

  .subField-elements {
    flex-direction: row;
    padding: 0 0;
  }

  .subfield-text {
    width: 60%;
    text-align: start;
    padding-bottom: 0;
  }

  .subfields-buttons {
    width: 100%;
    border-radius: 10px;
    font-size: 1.1rem;
    mat-form-field {
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .large {
    display: none;
  }

  .small {
    display: none;
  }

  .medium {
    display: flex;
  }

  .container-scale {
    width: 40%;
    max-width: 40%;
  }

  .row {
    justify-content: space-evenly;
  }

  .empty-index {
    img {
      margin-right: 2rem;
    }
  }
}

@media (max-width: 576px) {
  .large {
    display: none;
  }

  .small {
    display: flex;
  }

  .medium {
    display: none;
  }

  .empty-index {
    img {
      width: 55%;
      max-width: 14rem;
    }
    span {
      text-align: center;
    }
  }

  .box-carousel {
    min-height: 30rem;
  }

  app-img-container {
    margin: 0 0 4rem 0;
  }

  .subField-elements {
    display: none;
  }
  mat-form-field {
    width: 100%;
  }
}

::ng-deep .mdc-text-field--filled {
    background-color: white !important;
}
