.box-carousel {
  width: 100%;
  min-height: 50rem;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.carousel-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 2.5rem;
}

.carousel-field {
  display: flex;
  width: 17%;
  min-width: 13rem;
  height: 3rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 18px;
  box-shadow: 0 0 3px #999999;

  &.active {
    background-color: #374785;
    color: white;
  }
}

.empty-index {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  img {
    width: 15rem;
    margin-right: 5rem;
  }
  span {
    font-size: 20px;
    color: #24305E;
  }
}

.box-index-selected {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.subField-column {
  display: flex;
  flex-direction: column;
  padding: 3rem 4rem;
  margin-top: 2rem;
}

.subField {
  display: flex;
  width: 15rem;
  box-shadow: 0 0 3px #999999;
  margin-bottom: 2.5rem;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  cursor: pointer;
  &.active {
    background-color: #F76C6C;
    color: white;
  }
}

.subField-separator {
  margin: 3rem 0 10rem 0;
  width: 2px;
  background-color: #CCCCCC;
}

app-img-container {
  min-width: 0;
  margin: 2rem 0 10rem 0;
}

::ng-deep.swiper-button-prev {
  color: #374785 !important;
}

::ng-deep.swiper-button-next {
  color: #374785 !important;
}

::ng-deep.swiper-pagination-bullet-active {
  background: #374785 !important;
}
