<div class="descriptions">
  <div class="motto">
    <span>Gestiamo ed eseguiamo progetti dalle prime lavorazioni fino alla
    consegna finale impiantistica compresa ottimizzando tempi e costi</span>
    <div class="icon-svg" aria-label="My icon" [inlineSVG]="'/assets/svg/arrow-down.svg'"></div>
  </div>
  <div class="description-container">
    <div class="description">
      <img class="img-description" src="/assets/img/works/altro/cappotti/cappotti_15.jpg"/>
      <div class="text-description">
        <div class="header-description">
          <img src="./assets/svg/home.svg"/>
          <span class="society-text">
          <strong>
            {{'La nostra storia' | uppercase }}
          </strong>
        </span>
        </div>
        <div class="society-summary">
        <span class="about-us-1">
          C.M. SERVICE è un’azienda che opera da anni nel settore dell’edilizia
eseguendo opere di costruzione e ristrutturazione di edifici civili ed
industriali, manutenzione edile ed impiantistica delle aziende.
        </span>
          <span class="about-us-2">
          Inoltre, è specializzata in rifacimento facciate, trattamenti al fuoco delle strutture
ed adeguamenti sismici.
        </span>
          <span class="end-text">
          Svolge il lavoro al meglio con un continuo e severo controllo dei materiali
utilizzati, innovativi e rispettando tutti i regolamenti e le certificazioni
vigenti in materia.
        </span>

        </div>
        <button mat-raised-button color="primary" (click)="goToContactsPage()">
          <div class="button-contact">
            <img src="./assets/svg/contact.svg"/>
            <span>{{'Contattaci' | uppercase}}</span>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>
