<div class="descriptions">
  <div class="motto">
    <span>{{ 'DESCRIPTION.ABSTRACT' | translate }}</span>
    <div class="icon-svg" aria-label="My icon" [inlineSVG]="'/assets/svg/arrow-down.svg'"></div>
  </div>
  <div class="description-container">
    <div class="description">
      <img class="img-description" src="/assets/img/description/company.jpg"/>
      <div class="text-description">
        <div class="header-description">
          <img src="./assets/svg/home.svg"/>
          <span class="society-text">
          <strong>
            {{ 'DESCRIPTION.OUR_STORY' | translate | uppercase }}
          </strong>
        </span>
        </div>
        <div class="society-summary">
        <span class="about-us-1">
          {{ 'DESCRIPTION.OUR_STORY_1' | translate }}
        </span>
          <span class="about-us-2">
          {{ 'DESCRIPTION.OUR_STORY_2' | translate }}
        </span>
          <span class="end-text">
          {{ 'DESCRIPTION.OUR_STORY_3' | translate }}
          </span>

        </div>
        <div class="certificate">
          <span class="certificate-text">
            <strong>
              {{ 'DESCRIPTION.CERTIFICATES' | translate | uppercase }}
            </strong>
          </span>
          <div class="certificate-list">
            <img class="certicate-img-cqop" src="./assets/img/logo-cqop.png"/>
            <img class="certicate-img-iso" src="./assets/img/iso-9001.png"/>
          </div>
        </div>

        <div class="contact-button">
          <button mat-raised-button color="primary" (click)="goToContactsPage()" class="button-info">
            <div class="button-contact">
              <img src="./assets/svg/contact.svg" alt="contact"/>
              <span>{{ 'DESCRIPTION.CONTACT_US' | translate | uppercase }}</span>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
