.society-summary {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  margin-bottom: 2rem;
  text-align: justify;

  span {
    font-size: 1.2rem;
    line-height: 1.7rem;
    margin-bottom: 1rem;
  }

  .motto {
    font-size: 1.2rem;
    line-height: 1.7rem;
    margin-bottom: 1rem;
    color: #2a287c;
    padding: 1rem 3rem;
  }

}

button {
  width: 300px;
}

.button-info {
  background: #374785;
  height: 56px;
  color: white;
}

.description {
  flex-grow: 1;
  position: relative;
  display: flex;
  max-width: 50%;
  background-color: #c7e2f3;
  border-radius: 1rem;
  justify-content: flex-end;
  padding-left: 3rem;
}

.text-description {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
}

.header-description {
  display: flex;
  align-items: center;

  img {
    width: 4rem;
    margin-right: 2rem;
  }
}

button {
  img {
    width: 4rem;
  }

  .button-contact {
    display: flex;
    gap: 1rem;
    align-items: center;

    span {
      font-size: 1.2rem;
      flex: 1;
    }
  }
}

.society-text {
  font-size: 1.5rem;
  color: #24305E;
}

.certificate {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.certificate-list {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 1rem;
  align-items: center;
}

.certificate-text {
  font-size: 1.2rem;
  color: #24305E;
}

.certicate-img-iso {
  width: 7rem;
}

.certicate-img-cqop {
  height: 3rem;
}


.descriptions {
  display: flex;
  flex-direction: column;
}

.contact-button {
  display: flex;
  flex-direction: row-reverse;
}

.motto {
  display: flex;
  justify-content: flex-start;
  background-color: #F8E9A1;
  border-radius: 1rem;
  max-width: 40%;
  margin-bottom: 3.5rem;
  position: relative;
  align-items: center;

  span {
    font-size: 1.3rem;
    white-space: normal;
    text-align: center;
    padding: 1.5rem 2.5rem;
    line-height: 1.8rem;
  }
}

.description-container {
  display: flex;
  justify-content: flex-end;
}

.icon-svg {
  position: absolute;
  bottom: -5rem;
  right: 3rem;
  width: 0;
  fill: #2a287c;
  z-index: 5;
}

.img-description {
  position: absolute;
  width: 85%;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  left: -80%;
  border-radius: 10px;
}


@media (max-width: 1280px) {
  .motto {
    span {
      font-size: 1.1rem;
      padding: 1.3rem 2.1rem;
      line-height: 1.6rem;
    }
  }

  .text-description {
    padding: 2rem;
    .society-summary {
      span {
        font-size: 1.1rem;
        line-height: 1.6rem;
      }
    }
  }

  .description {
    padding-left: 2rem;
  }

  button {
    img {
      width: 3rem;
    }

    .button-contact {
      margin: 0.8rem;
      display: flex;
      align-items: center;

      span {
        font-size: 1.1rem;
      }
    }
    width: 250px;
  }
}

@media (max-width: 1050px) {
  .description {
    padding-left: 1rem;
  }
}

@media (max-width: 992px) {
  .icon-svg {
    display: none;
  }
  .motto {
    background-color: transparent;
    max-width: 100%;
    justify-content: center;
    span {
      width: 70%;
      font-size: 1.2rem;
      color: #24305E;
    }
  }

  .img-description {
    display: none;
  }

  .description {
    max-width: 100%;
    padding-left: 0;
  }
}

@media (max-width: 992px) {
  .text-description {
    padding: 1rem;
  }

  .society-text{
    line-height: 1.8rem;
  }

  .motto {
    margin-bottom: 1.5rem;
    span {
      padding: 1.3rem 1.5rem;
      width: 100%;
    }
  }
  button {
    .button-contact {
      margin: 0.6rem;
      display: flex;
      align-items: center;

      span {
        font-size: 1.1rem;
      }
    }

    width: 240px;
  }
}

@media (max-width: 500px) {
  .certicate-img-iso {
    width: 5rem;
  }

  .certicate-img-cqop {
    height: 2rem;
  }

}
